body {
    background-image: url("../images/escheresque_ste.png");
    /* background-repeat: repeat; */
}

.navbar {
    background-color: #000000;
    padding: 0;
}

.navbar-brand {
    font-weight: bold;
}

.choice {
    margin: 10px;
}

#logo {
    width: 20%;
}

#output {
    background-color: #eeeeee;
    display: none;
}

#output div {
    float: left;
    margin-right: 20px;
}

.card-header {
    background-color: #000000;
}

.nav-link {
    color: #eeeeee;
}

.unit {
    border-bottom: 1px solid #000000;
}

.card {
    border: none;
}